@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
  font-family: "Product Sans";
  src: url("fonts/Product Sans Regular.ttf");
}@font-face {
  font-family: "Product Sans Bold";
  src: url("fonts/Product Sans Bold.ttf");
}
* {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  margin: 0;
  word-break: keep-all;
  -webkit-tap-highlight-color: transparent;
}
html {
  background: white !important;
  font-size: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

