@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* @font-face {
  font-family: 'Noto Sans KR';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
  unicode-range: U+AC00-D7A3;
} */
@font-face {
  font-family: 'Google Sans Display';
  src: url('fonts/GoogleSansDisplay-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Google Sans Display';
  src: url('fonts/GoogleSansDisplay-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Google Sans Display';
  src: url('fonts/GoogleSansDisplay-Medium.ttf');

  font-weight: 600;
}
* {
  font-family: 'Google Sans Display', 'Noto Sans KR', sans-serif;
  font-size: 10px;
  font-style: normal;
  margin: 0;
  word-break: keep-all;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  overflow-x: hidden;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
